<!DOCTYPE html>
<html lang="ja">

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <div style="margin: 0 auto; padding: 16px; max-width: 400px;">

          <v-combobox v-model="radio_title" :items="radio_title_items" label="ラジオタイトル"></v-combobox>
          <v-combobox v-model="radio_personality" :items="radio_personality_items" label="ラジオパーソナリティ" multiple></v-combobox>

          <v-combobox v-model="stage_title" :items="stage_title_items" label="ステージタイトル"></v-combobox>
          <v-combobox v-model="stage_sub_title" :items="stage_sub_title_items" label="ステージ詳細（曲名など）"></v-combobox>
          <v-combobox v-model="stage_performer" :items="stage_performer_items" label="ステージ出演者" multiple></v-combobox>

        </div>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),

      data() {
        return {
          radio_title: "",
          radio_title_items: [
            "お便り紹介コーナー",
            "ゲストインタビュー",
          ],

          radio_personality: [],
          radio_personality_items: [
            "木幡MC",
            "中村MC",
            "平野MC",
            "森田",
            "渡辺",
            "小尾",
            "宮田",
          ],

          stage_title: "",
          stage_title_items: [
            "歌",
            "バンド",
            "ダンス",
            "ゲーム大会",
            "政治部プレゼン",
            "フォトコンテスト授賞式",
          ],

          stage_sub_title: "",
          stage_sub_title_items: [
            "GUTS!",
            "アポロ",
            "あなたの好きなところ",
            "CITRUS",
            "スマブラ1,2回戦",
            "スプラ決勝",
            "スマブラ3.4回戦",
            "マリカー決勝",
            "スマブラ決勝",
            "表彰式",
            "RPG",
            "透明人間",
            "ココロソマリ",
            "点描の唄",
            "不可幸力",
            "Killing me",
            "TONBO",
            "MONDO　PIECE",
            "PARADISE",
            "Final destinaiton",
          ],

          stage_performer: [],
          stage_performer_items: [
            "大谷脩太郎",
            "森田悠斗",
            "文野理海",
            "鎌形世里菜",
            "木幡智英子",
            "織田蓮",
            "松尾吏起",
            "田中瑞稀",
            "久津間ゆめ",
            "茅山滉ロ",
            "バートアンドレ",
            "藤原寧々",
            "岩﨑野花",
            "小野山拓玖",
          ],
        }
      },

      watch: {
        radio_title(n, o) {
          fetch(`https://api.tomoharu.dev/cf-server/set/radio_title/${n}`)
        },
        radio_personality(n, o) {
          fetch(`https://api.tomoharu.dev/cf-server/set/radio_personality/${n.join(", ")}`)
        },
        stage_title(n, o) {
          fetch(`https://api.tomoharu.dev/cf-server/set/stage_title/${n}`)
        },
        stage_sub_title(n, o) {
          fetch(`https://api.tomoharu.dev/cf-server/set/stage_sub_title/${n}`)
        },
        stage_performer(n, o) {
          fetch(`https://api.tomoharu.dev/cf-server/set/stage_performer/${n.join(", ")}`)
        },
      }
    })
  </script>
</body>

</html>